<html>
  <head></head>
  <%
    n = size_val.to_i
    rowArr = Array.new
    tableArr = Array.new
    i = 0
    while (i < (n**2) - 1)
      rowArr << '%0*b' % [n, i]
      i += 1
    end
    # Iterate through strings and replace 1's and 0's with
    # user input values
    for r in rowArr
      str = r
      str = str.gsub(/[1]/, true_val)
      str = str.gsub(/[0]/, false_val)
      tableArr << str
    end
  %>
  <body>
    <center>
        <h1>
          Truth Table
        </h1>
        <table>
          <tr>
            <%
              i = size_val.to_i
              loop do
                if i == 0
                  break
                end
              i -= 1
            %>
            <th> <%= i %> </th>
            <%
               end
            %>
            <th> AND </th>
            <th> OR </th>
            <th> XOR </th>
          </tr>
          <% for row in tableArr %>
          <tr>
            <% row.split("").each do |i| %>
            <td> <%= i %> </td>
            <% end
               andVal = true_val
               orVal = false_val
               xorVal = true_val
               numTrueVals = 0
               row.split("").each do |i|
                 if i != true_val
                   andVal = false_val
                 else
                   numTrueVals += 1
                   orVal = true_val
                 end
               end
               if numTrueVals % 2 == 0
                 xorVal = false_val
               end
            %>
            <td>
              <%= andVal %>
            </td>
            <td>
              <%= orVal %>
            </td>
            <td>
              <%= xorVal %>
            </td>
          </tr>
          <% end %>
        </table>
        <br>
      <a href="/">Back to Homepage</a>
    </center>
  </body>
</html>
